.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: black;
  border: 3px solid #3b71ca;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  text-align: center;
}

.addeBtn {
  padding: 15px;
  color: #3b71ca;
  font-size: 18px;
  border: 2px #3b71ca solid;
  border-radius: 7px;
  cursor: not-allowed;
}

.btn:hover {
  color: #fff;
}

.btn:hover em {
  color: rgb(0, 0, 0);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3b71ca;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

.productPrice {
  padding: 15px;
  background-color: rgb(220, 239, 255);
  border: 0;
  border-radius: 10px;
  margin-right: 10px;
  font-weight: 700;
  font-style: italic;
}
